body {
  background-image: url("images/sky5.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
}

#satAppointment {
  padding-top: 95px !important;
  margin-bottom: 10px !important;
}
.navbar {
  position: fixed;
  top: 0;
  background-color: rgba(244, 253, 252, 0.95);
  z-index: 1;
  width: 100%;
  /* height: 100px; */
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  display: block;
  float: left;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 2rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}
ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 8;
  display: block;
  padding: 0;
}
ul li ul li {
  clear: both;
  width: 100%;
}

#banner {
  height: 150px;
}
h1 {
  font-family: "Baskerville";
  color: #009999;
  font-size: 44px;
}
h5 {
  text-align: center;
}
.logoLetters {
  color: #009999;
  font-family: "Monotype Corsiva";
  font-size: 58px;
}
#logoamp {
  color: #009999;
  font-family: "French Script MT";
}
#page-container {
  /* background-color: #87afb6; */
  /* background-color: rgba(226, 238, 240, 0.636); */
  margin: auto;
  width: 80%;
  padding: 10px;
  margin-top: 80px;
}

a {
  display: block;
  text-align: center;
  width: 100%;
  margin: 5px;
  box-sizing: border-box;
  height: 10%;
  border: none;
}

.nav-link {
  color: #009999 !important;
  font-family: "Montserrat", sans-serif;
  width: 120px;
  border-radius: 5px;
  width: 100%;
  padding: 2px !important;
}

.active {
  color: rgb(10, 10, 10) !important;
  border: rgb(0, 0, 0) solid 1px;
}
a:hover {
  color: rgb(10, 10, 10) !important;
}
img {
  float: left;
  margin: 0px;
  object-fit: fill;
}

.notFloat {
  float: none;
}

.img-responsive {
  width: 100%;

  object-fit: cover;
  margin-bottom: 40px;
}
.img-responsive2 {
  width: 100%;
  margin-bottom: 7%;
  object-fit: cover;
}

.navbar-nav .nav-link {
  text-align: center;
}
/* nav.navbar-nav {
  background-color: rgba(244, 253, 252, 0.87);
} */
h2 {
  text-align: center;
}
p {
  text-align: center;
  font-weight: 300;
  margin-bottom: 0 !important;
}

.green {
  background-color: #009999;
}

.sprn3 {
  width: 45%;
  margin: 1%;
  color: #009999;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.493);
}
.main {
  text-align: center;
  font-weight: bold;
  font-size: 130%;
  color: #009999;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.493);
  margin-bottom: 30px;
}
.saturday {
  font-weight: 800;
  font-size: 140%;
}
footer {
  width: 100%;
  margin-top: 20px;
  bottom: 0;
  background-color: rgba(244, 253, 252, 0.95);
  padding: 10px;
}
h2 {
  margin-bottom: 40px !important;
}
.navbar-collapse.justify-content-center.collapse.show {
  align-content: ml-auto;
}
@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  .logoLetters {
    font-size: 41px;
  }
}
/* @media (min-width: 1200px) {
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
} */

@media (min-width: 1012px) {
  /* .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  } */
  /* .collapse:not(.show) {
    display: none !important;
  }
  .justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  .navbar-collapse {
    flex-basis: 100%;

    flex-grow: 1;
    -ms-flex-align: center;
  }
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  } */
}
